@import "tailwindcss";
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

#root {
  height: 100%;
}

button {
  cursor: pointer;
}
